<div class="wrapper">
  <!-- user dash -->

  <div class="nav">
      <ul>
          <li>
            <a [routerLink]= "['/admindash']"> 
              PRODUCTS DASH 
            </a>
          </li>
          <li>
            <a class = "active"> 
                USERS DASH
            </a>
          </li>
      </ul>
  </div>

  <!-- <h3>ALL REGISTERED USERS</h3> -->

      <!-- ========== SEARCH =========== -->
      <!-- <div class="search">
          <div *ngIf="searchResultsFound">search results: {{ searchResultsFound }}
            <br>
            searching in fname OR lname OR email
          </div>
          searchFieldValue => {{ searchFieldValue | json}}
          <br>
          <input 
          id="searchbox"
          (keyup)="onKey($event)" 
          [value]="sql_value_str" (input)="sql_value_str = $event.target.value"
          class="search-container" 
          type="text" 
          placeholder="Search users..."
          />

          <span *ngIf="sql_value_str">
            <button (click)="clearSearchStr()"> CLEAR search results</button>
          </span>
      
        </div>

      <br> -->
      
      
      
      <!-- sql_value_str => {{sql_value_str | json}} <br> -->
      <!-- searchResultsFound => {{ searchResultsFound | json }} -->
      


      <!-- ======== USERS TABLE ========== -->
  <!-- <table>
    <thead>
      <td (click)="orderById()">id ↕️</td>
      <td (click)="orderByFName()">fname ↕️</td>
      <td (click)="orderByLName()">lname ↕️</td>
      <td (click)="orderByEmail()">email ↕️</td>
      <td>pass</td>
      <td (click)="orderByCreated()">date_created ↕️</td>
      <td (click)="orderByUpdated()">date_updated ↕️</td>
      <td>admin status | json</td>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.pass }}</td>
        <td>{{ user.date_created }}</td>
        <td>{{ user.date_updated }}</td>
        <td>{{ user.admin | json }}</td>
      </tr>
    </tbody>
  </table> -->
  

  <!-- copy pasta -->



  <div class="table-users">
    <div class="header_title">all registered Users </div>
    
    <div class="header">


      <div class="search2">
        <div class='searchResultsText' *ngIf="searchResultsFound">found: {{ searchResultsFound }} person(s)
        </div>
        <input 
        id="searchbox"
        (keyup)="onKey($event)" 
        [value]="sql_value_str" (input)="sql_value_str = $event.target.value"
        class="search-container" 
        type="text" 
        placeholder="Search users..."
        />

        <br>
        <span *ngIf="sql_value_str">
          <button class='clear' (click)="clearSearchStr()"> CLEAR search</button>
        </span>
    
      </div>


    </div>

    <table cellspacing="0">
       <tr>
          <th>Picture</th>
          <th (click)="orderById()">id ↕️</th>
          <th (click)="orderByFName()">first name ↕️</th>
          <th (click)="orderByLName()">Last name ↕️</th>
          <th (click)="orderByEmail()">email ↕️</th>
          <th (click)="orderByCreated()">registered ↕️</th>
          <th (click)="orderByUpdated()">info updated ↕️</th>
          <th>level</th>
          <th>📝</th>
       </tr>
 
       <tr *ngFor="let user of allUsers">
          <td><img src="/assets/images/placeholder/placeholder_profile_img.jpg" alt="" /></td>
          <td>{{ user.id }}</td>
          <td>{{ user.fname }}</td>
          <td>{{ user.lname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_created }}</td>
          <td>{{ user.date_updated }}</td>
          <td>
            <span *ngIf="user.admin === 1" class='yes'> ADMIN </span>
            <span *ngIf="user.admin === 0" class='no'> user </span>
            <span *ngIf="user.admin === null" class='no'> NULL </span>

          </td>
          <td> <button class='edit'>edit</button></td>
       </tr>
    </table>
 </div>




</div>