<div class="wrapper">
  user dash




  <div class="nav">
      <ul>
          <li>
            <a [routerLink]= "['/admindash']"> 
              PRODUCTS DASH 
            </a>
          </li>
          <li>
            <a class = "active"> 
                USERS DASH
            </a>
          </li>
      </ul>
  </div>


  <h3>ALL REGISTERED USERS</h3>

      <!-- ========== SEARCH =========== -->
      <div class="search">
          <div *ngIf="searchResultsFound">search results: {{ searchResultsFound }}
            <br>
            searching in fname OR lname OR email
          </div>
          searchFieldValue => {{ searchFieldValue | json}}
          <br>
          <input 
          id="searchbox"
          (keyup)="onKey($event)" 
          [value]="sql_value_str" (input)="sql_value_str = $event.target.value"
          class="search-container" 
          type="text" 
          placeholder="Search users..."
          />

          <button type="submit">
              <img src="images/search.png" alt="">
          </button> -

          <span *ngIf="sql_value_str">
            <button (click)="clearSearchStr()"> CLEAR search results</button>
          </span>
      
        </div>

      <br>
      sql_value_str => {{sql_value_str | json}} <br>
      searchResultsFound => {{ searchResultsFound | json }}
      <!-- ======== USERS TABLE ========== -->
  <table>
    <thead>
      <td (click)="orderById()">id↕️</td>
      <td (click)="orderByFName()">fname↕️</td>
      <td (click)="orderByLName()">lname↕️</td>
      <td>email</td>
      <td>pass</td>
      <td>created_at</td>
      <td>updated_at</td>
      <td>admin | json</td>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.pass }}</td>
        <td>{{ user.date_created }}</td>
        <td>{{ user.date_updated }}</td>
        <td>{{ user.admin | json }}</td>
      </tr>
    </tbody>
  </table>
  




</div>