.wrapper{
    background-color: rgb(254, 236, 227);
    margin: 0 5% 0 5%;
    padding: 5px;
    min-height: 300px;
}

/* ===== NAV BAR ======= */
ul {
    /* removes bullets from list */
    list-style-type: none;
    background-color: #DEE7E7;
    margin: 0px;
    padding: 0px;
    border-bottom: 3px solid rgb(138, 30, 5);
    overflow: hidden;
}
li {
    float: left;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
/* build vertical nav bar */
li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover{
    background-color: whitesmoke;
    color: white;
}
/* lets the user know which page they are on */
li a.active {
    background-color: rgb(138, 30, 5);
    color: white;
}




/* ----------- SEARCH ------------- */
div.search{
    display: block;
    background-color: rgb(250, 173, 71);
    border-radius: 15px;
    width: 40%;
    padding: 5px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    margin-bottom: 10px;
}
/* ----- SEARCH INPUT----- */
    .search2 input{
        padding: 6px;
        border: none;
        font-size: 17px;
        min-width: 300px;
        border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px;
        border: solid 1px rgb(250, 173, 68);
        margin-bottom: 10px;
    }



/* ---- div sort holds which holds sorting buttons --- */
    div.sort{
        padding: 2px;
        border-radius: 5px;
        display: inline-block;
        min-width: 90px;
    }


/* =========== new table ============ */

.header_title {
    background-color: rgb(114, 37, 20);
    color: white;
    font-size: 1.5em;
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    text-transform: uppercase;
}
.header {
    background-color: rgb(114, 37, 20);
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
/* ====== addnew product div with button inside ======= */
.addnew {
    display: inline-block;
    /* background: blue; */
    vertical-align: middle;
    margin-right: 10px;
}
/* ====== sort div that holds the buttons ====== */
.header_sort {
    vertical-align: top;
    display: inline-block;
    background-color: rgb(139, 99, 89);
    color: white;
    width: 45%;
    border-radius: 10px;
    padding-bottom: 4px;
    text-align: center;
    /* text-transform: uppercase; */
}
    .header_sort span.sort_text_header {
        font-size: 12pt;
        box-shadow: #2b686e;
        border-bottom: 1px solid black;
    }


img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.table-users {
    /* border: 1px solid #327a81; */
    border: 1px solid rgb(114, 37, 20);
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 90%;
}

table {
    width: 100%;
}
table td, table th {
    color: #2b686e;
    padding: 10px;
}
table td {
    text-align: center;
    vertical-align: middle;
}
table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}
table th {
    background-color: #f1e3da;
    font-weight: 300;
}
table tr:nth-child(2n) {
    background-color: white;
}
table tr:nth-child(2n+1) {
    background-color: #f8f0ed;
}

.searchResultsText{
    font-size: 11pt;
}
.yes{
    color: red;
}

/* ========== BUTTONS ========= */

/* ===== sort order buttons ======= */
div.header_sort div.sort button.sortBtn {
    width: 70px;
}
/* ===== add new product button === */
div.addnew button.add_button{
    transition-duration: 0.4s;
    width: 150px;
    font-size: 14pt;
    border-radius: 10px;
    border: 2px solid rgb(26, 155, 32);
    vertical-align: top;
    margin-top: 37px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}
    div.addnew button.add_button:hover {
        background-color: rgb(26, 155, 32);
        color: white;
    }
/* ----- SORT buttons ------- */
button.sortBtn {
    transition-duration: 0.2s;
    height: 20px;
    border-radius: 5px;
    font-size: 11pt;
}
    button.sortBtn:hover {
        border: 1px solid  rgb(241, 166, 43);
        background: chocolate;
        color: white;
    }
/* ----- EDIT button ------ */
.table-users button.edit_button {
    transition-duration: 0.2s;
    padding: 5px;
    border: 2px solid rgb(241, 166, 43);
    border-radius: 5px;
    margin-top: 5px;
    /* width: 50px; */
    height: 27px;
    vertical-align: top;
    display: inline-block;
}
    .table-users button.edit_button:hover {
        background-color: rgb(241, 166, 43);
        color: white;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    }
/* ----- D E L E T E  button ------ */
.table-users button.delete_button {
    transition-duration: 0.2s;
    padding: 5px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
    /* width: 70px; */
    height: 27px;
    vertical-align: top;
    display: inline-block;
}
    .table-users button.delete_button:hover {
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    }
/* ------ CLEAR search button ------- */
.search2 button{
    transition-duration: 0.2s;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 120px;
    display: inline-block;
}
    .search2 button:hover {
        background-color: rgb(175, 76, 76);
        color: white;
    }
