<div class="wrapper">
    <!-- admindash component
<br>
<a [routerLink]= "['/']">back to main</a>
<hr> -->



    <!-- ============ DASHBOARD ================= -->
    <!-- <div class="dashboard_container"> -->
    <!-- dashboard_container -->

    <div class="product_list">

        <!-- admindash component - product list & users list  -->

        <div class="nav">
            <ul>
                <li>
                    <a class="active"> PRODUCTS DASH </a>
                </li>
                <li>
                    <a [routerLink]="['usersdash']">
                        USERS DASH
                    </a>
                </li>
            </ul>
        </div>



        <div class="table-users">
            <div class="header_title">Teddy Store Inventory </div>

            <div class="header">


                <div class="search2">
                    <div class='searchResultsText' *ngIf="searchResultsFound">found: {{ searchResultsFound }} item(s)
                    </div>
                    <input id="searchbox" (keyup)="onKey($event)" [value]="sql_value_str" (input)="sql_value_str = $event.target.value"
                        class="search-container" type="text" placeholder="Search inventory..." />

                    <br>
                    <span *ngIf="sql_value_str">
                        <button class='clear' (click)="clearSearchStr()"> CLEAR search</button>
                    </span>

                </div>




                <div class="addnew">
                    <button [routerLink]="['/addproduct']" class="add_button">✰ ADD New Product ✰</button>
                </div>


                <div class="header_sort">
                    <span class='sort_text_header'>sorting</span><br>
                    <div class="sort">
                        <button class='sortBtn' (click)="id_asc()">ID ▲ </button>
                        <br>
                        <button class='sortBtn' (click)="id_desc()">ID ▼ </button>
                    </div>

                    <div class="sort">
                        <button class='sortBtn' (click)="price_asc()">price ▲</button>
                        <br>
                        <button class='sortBtn' (click)="price_desc()">price ▼</button>
                    </div>

                    <div class="sort">
                        <button class='sortBtn' (click)="qty_asc()">Qty ▲</button>
                        <br>
                        <button class='sortBtn' (click)="qty_desc()">Qty ▼</button>
                    </div>

                    <div class="sort">
                        <button class='sortBtn' (click)="name_asc()">name ▲</button>
                        <br>
                        <button class='sortBtn' (click)="name_desc()">name ▼</button>
                    </div>
                </div>


            </div>

            <table cellspacing="0">
                <tr>
                    <th>id</th>
                    <th>SKU</th>
                    <th>name</th>
                    <th>img</th>
                    <th>color</th>
                    <th>qty</th>
                    <th>price</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                    <th>actions</th>
                </tr>

                <tr *ngFor="let product of allProducts">
                    <td> {{ product.id }} </td>
                    <td> {{ product.sku }} </td>
                    <td> {{ product.product_name }} </td>
                    <td> <img src="assets/images/product_img/7.jpg" alt=""></td>
                    <td> {{ product.color }} </td>
                    <td> x{{ product.qty }} </td>
                    <td> $ {{ product.product_price }} </td>
                    <td> {{ product.date_created }} </td>
                    <td> {{ product.date_updated }} </td>
                    <td>
                        <button (click)="editProduct(product.id)" class="edit_button">✍️ EDIT</button>&nbsp;
                        <button (click)="deleteProduct(product.id, product.product_name)" class="delete_button">🗑 DELETE</button>
                    </td>
                </tr>
            </table>
        </div>





    </div>



</div>


<!-- </div> -->