<div class="wrapper">
admindash component
<br>
<a [routerLink]= "['/']">back to main</a>
<hr>



<!-- ============ DASHBOARD ================= -->
    <div class="dashboard_container">
        dashboard_container

        <div class="product_list">
            product list
            <br>
            <h2>Teddy Store Inventory</h2>
            <button [routerLink]="['/addproduct']" class="add_button">ADD New Product</button>
            <hr>
            <br>


    <!-- ========== SEARCH =========== -->
        <div class="search">
            <input class="search-container" type="text" placeholder="Search...">
            <button type="submit">
                <img src="images/search.png" alt="">
            </button>
        </div>

        <div class="pages">
            < 1 | 2 | 3 | 4 | 5 | .... | 14 >
        </div>


    <!-- =========== LEFT SIDE FILTERS ========== -->
        <div class="left_filters">
            filters
            <br>
            sort by:
            <hr>

            <div class="sort">
                <a href="">price ascending ▲</a>
                <br>
                <a href="">price descending ▼</a>
            </div>

            <div class="sort">
                <a href="">Qty ascending ▲</a>
                <br>
                <a href="">Qty descending ▼</a>
            </div>

            <div class="sort">
                <a href="">name ascending ▲</a>
                <br>
                <a href="">name descending ▼</a>
            </div>

            <div class="sort">
                <a href="">SKU ascending ▲</a>
                <br>
                <a href="">SKU descending ▼</a>
            </div>

        </div>



<!-- ========== RIGHT SIDE TABLE ============ -->
<div class="table">

        <table>
            <thead>
                <td>id</td>
                <td>SKU</td>
                <td>name</td>
                <td>img</td>
                <td>qty</td>
                <td>price</td>
                <td>mark-up</td>
                <td>Final Price</td>
                <td>actions</td>
            </thead>
            <tbody>
                <tr>
                    <td>182g821g3</td>
                    <td>003</td>
                    <td>Teddy Hugger Medium</td>
                    <td><img src="images/product_img/7.jpg" alt=""></td>
                    <td>15</td>
                    <td>$20</td>
                    <td>20%</td>
                    <td>$24</td>
                    <td>
                        <button class="edit_button">EDIT</button>
                        <button class="delete_button">DELETE</button>
                    </td>
                </tr>
                <tr>
                    <td>182g821g3</td>
                    <td>003</td>
                    <td>Teddy Hugger Medium</td>
                    <td><img src="images/product_img/7.jpg" alt=""></td>
                    <td>15</td>
                    <td>$20</td>
                    <td>20%</td>
                    <td>$24</td>
                    <td>
                        <button class="edit_button">EDIT</button>
                        <button class="delete_button">DELETE</button>
                    </td>
                </tr>
                <tr>
                    <td>182g821g3</td>
                    <td>003</td>
                    <td>Teddy Hugger Medium</td>
                    <td><img src="images/product_img/7.jpg" alt=""></td>
                    <td>15</td>
                    <td>$20</td>
                    <td>20%</td>
                    <td>$24</td>
                    <td>
                        <button class="edit_button">EDIT</button>
                        <button class="delete_button">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <div class="pages">
        < 1 | 2 | 3 | 4 | 5 | .... | 14 >
    </div>

    <!-- inside product list -->
  



        </div>



</div>

























</div>
