/* .wrapper{
    border: 1px solid rgb(30, 255, 0);
    border-radius: 10px;
    background-color: rgb(245, 240, 156);
    padding: 5px;
    min-height: 300px;
    margin-left: 5%;
    margin-right: 5%;
} */


/* * * * * * * * * * * MAIN CONTENT * * * * * * * * * */

div.content_wrap{
    background-color: rgb(254, 239, 231);
    padding: 5px;
    padding-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}


/* ---------- LEFT FILTERS --------- */
div.left_filters{
    text-align: center;
    padding: 5px;
    width: 140px;
    /* height: 300px; */
    display: inline-block;
    vertical-align: top;
    background-color: rgb(247, 217, 171);
    border-radius: 15px;
}
    div.sort{
        /* background-color: rgb(255, 239, 233); */
        font-size: 16pt;
        padding: 3px;
        border-radius: 5px;
        margin-bottom: 5px;
        display: inline-block;
    }


/* ======== search ======= */
/* ----- SEARCH INPUT----- */
div.search{
    align-content: center;
    margin: 0 auto;
    /* background-color: aqua; */
    text-align: center;
}
.search input{
    margin: 0 auto;
    /* margin-top: 5px; */
    padding: 6px;
    font-size: 17px;
    min-width: 300px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px;
    border: solid 2px rgb(250, 173, 68);
}


/* ============ MAIN CONTENT & PAGES ========= */
div.content{
    background-color: rgb(254, 239, 231);
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
    width: 850px;
    min-height: 600px;
}

    .content .pages{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color:rgb(254, 239, 231);
        text-align: center;
    }

    div.item{
        border-radius: 15px;
        border: 1px solid black;
        margin: 10px;
        background-color: rgb(248, 223, 212);
        min-height: 60px;
        width: 800px;
    }
    /* --------- PRODUCT IMG --------- */
        .content .item .product_img{
            border-radius: 15px 15px 15px 15px;
            width: 150px;
            margin: 5px;
            display: inline-block;
            vertical-align: top;
        }
            .stars{
                display: inline-block;
                height: 20px;
            }
            
        .content .item .mid_item{
            display: inline-block;
            vertical-align: top;
            /* background-color: cadetblue; */
        }
        .content .item .right_item{
            display: inline-block;
            vertical-align: top;
            /* background-color: cornsilk; */
            width: 300px;
        }


/**************************************
**             BUTTONS               **
**************************************/

/* --- left side sort buttons */
.sort button{
    transition-duration: 0.2s;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 50px;
    display: inline-block;
}
    .sort button:hover {
        background-color: #4CAF50;
        color: white;
    }

/* ============ each product ADD to CARD BUTTON */
.item button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aqua;
    padding: 5px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #4CAF50; 
    background-color: white; /* Green */
    /* webkit-transition-duration: 0.4s; Safari */
    transition-duration: 0.4s;
}
    .item button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
        /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    }

    .search button{
        width: 18px;
        padding: 5px;
    }