.wrapper{
    border: 1px solid rgb(255, 187, 0);
    border-radius: 10px;
    background-color: rgb(203, 243, 202);
    padding: 5px;
    min-height: 50px;
    margin-bottom: 10px;
}

/* ============ TOP NAV ============= */
div.topNav{
    overflow: hidden;
    background-color: rgb(254, 239, 231);
    min-height: 42px;
    align-content: center;
}
/* ---------- LOGO ---------- */
    .topNav img{
        width: 180px;
        display: inline-block;
    }
    .topNav .center_title{
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;
    }
    .topNav button{
        display: inline-block;
        vertical-align: top;
        margin: 10px;
        padding: 10px;
    }