<div class="wrapper">

	header component

	<!-- ============= TOP NAV BAR ============== -->
	<div class="topNav">
		<img src="images/t_logo.png" alt="">
		<div class="center_title">
			<h1>_PLACEHOLDER_</h1>
		</div>
		
	</div>
	<button (click)="superAdmin()"> > BECOME CHUCK NORRIS< </button>
	<a [routerLink]= "['/']">MAIN - reload ng </a> - 

	<span *ngIf="!sessionExists">

		<a [routerLink]= "['/login']">LOGIN</a> - 
		<a [routerLink]= "['/register']">REGISTER</a> - 
	</span>

	<a (click)="goToProducts()"> PRODUCTS </a> - 
	<a (click)="goToAdminDash()"> ADMIN DASHBOARD </a>

	<br>
	sesionExists => {{ sessionExists | json}}
	<br>
	what is session => {{ whatisssession | json}}
	<br>
	
	<div *ngIf="loginValidation['canLogin'] === true">
		<button (click)="destroySession()"> CLEAR SESSION / LOGOUT </button>
	</div>
	<br>
	{{ loginValidation | json}}

</div>