<div class="wrapper">

	<img src="assets/images/logo.png" class="logo" alt="">
	<hr>
	sesionExists => {{ sessionExists | json}} | 
	what is session => {{ whatisssession | json}} | 
	loginValidation => {{ loginValidation | json}}
	<hr>
	CART : {{ cart | json}} | 
	SKUs in cart => {{ cart.length }} | 
	total items in cart => {{ cart_total_size }}

<!-- ========== NAVIGATION ============ -->
	<div class="nav">
		<ul>
			<span *ngIf="loginValidation['canLogin'] === false">
				<li>
					<a (click)="superAdmin()"> 💣 BECOME CHUCK NORRIS  </a>
				</li>
			</span>

			<li>
				<a [routerLink]= "['/']"> 🏠 HOME </a>
			</li>

			<li>
				<a (click)="goToProducts()"> 🛍 Browse Teddies! </a>
			</li>
			
			<span *ngIf="loginValidation['canLogin'] === false">
				<li>
					<a [routerLink]= "['/login']"> 🔐 Login </a>
				</li>

				<li>
					<a [routerLink]= "['/register']"> 🐻 Join the Bears! </a>
				</li>
			</span>

			<span *ngIf="cart_total_size > 0">
				<li>
					<a (click)="goToCart()"> 🛒 CART ({{cart_total_size}})</a>
				</li>
			</span>

			<span *ngIf="loginValidation['canLogin'] === true">
				<li>
					<a (click)="destroySession()"> 🛑  Logout </a>
				</li>
			</span>
		</ul>
	</div>


</div>