.wrapper{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(225, 243, 192);
    padding: 5px;
}

table, thead, tr, td {
    border: 1px solid black;
}

thead {
    font-size: 18pt;
}

button{
    font-size: 16pt;
}

/* if cart is empty div */
div.cartEmpty{
    align-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
}
    .cartEmpty button{
        margin-top: 10px;
    }