<div class="wrapper">

  cart component
<hr>

cart is => {{ cart | json }}

<br>
<div *ngIf="cartProducts.length > 0" class="table">

  <table>
    <thead>
      <td>name</td>
      <td>qty</td>
      <td>price</td>
      <td>total_sku price</td>
    </thead>
    <tbody>
      <tr *ngFor="let item of serverCartService">
        <td>{{ item.product_name }}</td>

        <td> id={{ item.id }} - 
          <button (click)="minusQty(item.id)"> - </button>
          x{{ item.qty }}
          <button> + </button>
        </td>

        <td>$ {{ item.item_price }}</td>
        <td>$ {{ item.total_price }}</td>
      </tr>
    </tbody>
  </table>
  <h3>TOTAL: => $ {{ finalCartTotal }}</h3>

</div>
<hr>
SKUs in cart => {{ cart.length }}
<br>
total items in cart => {{ cart_total_size }}



<br>
<button (click)="clearCart()">CLEAR cart with {{ cart_total_size }} items</button>


<hr>

{{ cartProducts | json}}




</div>