<div class="wrapper">

  cart component
<hr>

cart is => {{ cart | json }}

<br>
<!-- <div *ngIf="cartProducts.lenght > 0" class="table"> -->

  <table>
    <thead>
      <td>name</td>
      <td>qty</td>
      <td>price</td>
      <td>total_sku price</td>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartProducts">
        <td>{{ item.product_name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.product_price }}</td>
        <td>---- tomultiply ----</td>
      </tr>
    </tbody>
  </table>
<!-- </div> -->


<hr>

{{ cartProducts | json}}




</div>