<div class="wrapper">

  <!-- cart component
  <hr> -->

  <div *ngIf="cart.length === 0" class="cartEmpty">
    cart is empty :( <br>
    go buy some Teddy Bears!!! 🐻 ❤️ <span class="red">❤</span>
    <br>
    <button class='buyhere' [routerLink]="['/products']"> >> BUY HERE << </button> </div> <div *ngIf="cart.length > 0"
        class="cartFull">

        <div *ngIf="cartProducts.length > 0" class="table">


          <div class="table-users">
            <div class="header_title">My cart 🛒 </div>


            <table cellspacing="0">
              <tr class='trhead'>
                <th>pic</th>
                <th>item</th>
                <th>qty</th>
                <th>subtotal</th>
                <th>price</th>
                <th>remove</th>
              </tr>

              <tr *ngFor="let item of serverCartService">
                <td>
                  <img src="assets/images/product_img/1.jpg" alt="" />
                </td>
                <td>{{ item.product_name }}</td>
                <td>
                  <button class='minus' (click)="minusQty(item.id)"> - </button>
                  x{{ item.qty }}
                  <button class='plus' (click)="plusQty(item.id)"> + </button>
                </td>
                <td>$ {{ item.item_price }}</td>
                <td>$ {{ item.total_price }}</td>
                <td (click)="removeCartItem(item.id, item.product_name, item.qty)"> 💥 </td>
              </tr>
            </table>


          </div> <!-- div table users -->



          <div class="table-users2">
            <div class="total">
              TOTAL $ {{ finalCartTotal }}
            </div>
          </div>
          <br>

          <div class="buttons">

            <button class='checkout_button' (click)="goToCheckout(serverCartService)"> CHECKOUT! 🎁 </button>
            <br>
            <button class='clear_cart_button' (click)="clearCart(serverCartService)">CLEAR cart with {{ cart_total_size
              }} items</button>
          </div>

        </div>
  </div> <!-- Cart full If -->


</div>