<div class="wrapper">
  main.component
  <br>
  <a [routerLink]= "['/login']">LOGIN</a> - 
  <a [routerLink]= "['/register']">REGISTER</a> - 
  <a [routerLink]= "['/products']"> PRODUCTS </a> - 
  <a [routerLink]= "['/admindash']"> ADMIN DASHBOARD </a>
  <button (click)="clearSession()"> CLEAR SESSION </button>
  <hr>
  <h3>ALL REGISTERED USERS</h3>
  <table>
    <thead>
      <td>id</td>
      <td>fname</td>
      <td>lname</td>
      <td>email</td>
      <td>pass</td>
      <td>created_at</td>
      <td>updated_at</td>
      <td>is admind</td>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.pass }}</td>
        <td>{{ user.date_created }}</td>
        <td>{{ user.updated_at }}</td>
        <td>{{ user.admin }}</td>
      </tr>
    </tbody>
  </table>
</div>
