<!-- <div class="wrapper">
  main.component
<br>
show main welcome products here
</div> -->


<div class="wrapper">













<!-- ============ SLIDES ============= -->
<div class="slides">
    <img src="assets/images/bg_sale.jpg" alt="">
</div>























<!-- ============= BEST SELLERS ============ -->
<!-- ITEM -->
  <div class="best_sellers">
    
    <div *ngFor="let item of allProducts" class="loop">

      <div class="item">
        <div class="left_content">
          <img src="images/product_img/1.jpg" alt="">
        </div>
        <div class="right_content">
          <h3> {{ item.product_name }}</h3>
          <h3>$ {{ item.product_price }}</h3>
          <div class="desc">
            {{ item.product_description}}
          </div>
          <button>ADD to Cart</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- ITEM END LOOP -->


<!-- ============ LOWER BANNER ============== -->
<div class="lower_banner">
    <div class="left_low_banner">
        <img src="images/1a.jpg" alt="">
    </div>
    <div class="mid_low_banner">
        <img src="images/girl_hugging_teddy.jpg" alt="">
    </div>
    <div class="right_low_banner">
        <img src="images/teddy_banner_right.jpg" alt="">
    </div>
</div>


</div>