<!-- <div class="wrapper">
  main.component
<br>
show main welcome products here
</div> -->


<div class="wrapper">

<!-- ============ SLIDES ============= -->
<div class="slider">
  <figure>
    <img src="/assets/images/slides/{{randomImg}}.jpg" alt="">
  </figure>
</div>



<!-- ============= BEST SELLERS ============ -->
<!-- ITEM -->
  <div class="best_sellers">
    
    <div *ngFor="let item of allProducts" class="loop">

      <div class="item">
        <div class="left_content">
          <img src="/assets/images/product_img/9.jpg" alt="">
        </div>
        <div class="right_content">
          <h3> {{ item.product_name }}</h3>
          <h3>$ {{ item.product_price }}</h3>
          <div class="desc">
            {{ item.product_description}}
          </div>
          <button>ADD to Cart</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- ITEM END LOOP -->



</div>