.wrapper{
    border: 1px solid rgb(255, 187, 0);
    border-radius: 10px;
    background-color: rgb(155, 166, 189);
    padding: 5px;
    margin-top: 10px;
    min-height: 50px;
}

/* ============= FOOTER ============== */
div.footer{
    background-color: rgb(250, 173, 68);
    height: 30px;
    font-size: 8pt;
    text-align: center;
    padding-top: 10px;
}