<div class="wrapper">

  <!-- footer component -->

  <!-- ============== FOOTER ================= -->
  <!-- <div class="footer"> -->
      made from scratch with ❤️ by: 
      <br>
      <a href="http://www.misirlakis.com">John Misirlakis</a> |
      <a href="https://www.linkedin.com/in/john-misirlakis-233024162/">LinkedIn</a> |
      <a href="https://github.com/jupiterorbita">GitHub</a>
      <br>
      using Angular6, NodeJS, Express, MySQL - All CSS from scratch - no CSS libraries used 😎
  <!-- </div> -->
  
</div>
